@font-face {
  font-family: 'fuentecustom';
  src: url('../fonts/rubik.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'fuentecustom', sans-serif;
  background: #0F2027;
  background: linear-gradient(90deg,rgba(15, 32, 39, 1) 0%, rgba(32, 58, 67, 1) 50%, rgba(44, 83, 100, 1) 100%);
}

header {
  background: url('https://images.unsplash.com/photo-1601979031925-59abdd309995') no-repeat center/cover;
  height: 90vh;
  color: #ea0000;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.btn {
  background: linear-gradient(to right, rgb(60, 60, 60), rgb(160, 160, 160));
  color: #74e811;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.rectangulo {
  width: 275px;
  height: 50px;
  background-color: #fdfdfd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.rectangulo2 {
  width: 370px;
  height: 50px;
  background-color: #fdfdfd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;
}


